.col-md-8 {
    width: 75%;
}
.line-break{
    /*margin-top:1.5em;*/
    margin-top:1em;
}

.btn.btn-default.btn-lg{
    padding: 14px 18px;
}

/* fixing checkbox text in selectFieldForm */
input[type=checkbox]{
    margin: 0 0 0;
}
.custom-font-size{
    font-size: .8em;
}

.nav {
    padding-left: 16%;
}

.footer {
    margin-top: 4%;
}

.nav.nav-tabs.nav-custom {
    padding-left: 1%;
}

.btn-primary-div-custom {
    padding-top: .5%;
}

.col-md-5-custom {
    padding-left: 0;
}

/*textarea {*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*resize: none;*/
/*}*/
/*input[required],*/
/*select[required]{}*/
input[required] {
    background-image: url('../img/asterisk-128-000000.png');
    background-repeat: no-repeat;
    background-position: right .3em top .7em;
    background-size: 1em 1em;
}

/*input[required].has-error {*/
    /*background-image: url('../img/print-signs-askerisk-204x204.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: right .3em top .7em;*/
    /*background-size: 1em 1em;*/
/*}*/

div.has-error > input[required] {
    background-image: url('../img/print-signs-askerisk-204x204.png');
    background-repeat: no-repeat;
    background-position: right .3em top .7em;
    background-size: 1em 1em;
}


.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    /*margin-top: 80px;*/
    /*padding: 40px 0px 20px 0px;*/
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
.login-title
{
    color: #555;
    font-size: 22px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.select-img
{
    border-radius: 50%;
    display: block;
    height: 75px;
    margin: 0 30px 10px;
    width: 75px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.select-name
{
    display: block;
    margin: 30px 10px 10px;
}

.logo-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.close {
    font-size: 30px;
}

/* css for back to top button */
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 20px;
    display:none;
}

.selectAllFieldsSpan {
    float: right;
    font-size: .8em; /*font-size: medium;*/
    margin-top: .5em;
}

.pager {
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
}

#currentRequest_3_0 {
    width: 1.2em;
}

#hideFieldsAnchor {
    font-size: 1.5em;
}
