.col-md-8 {
    width: 75%;
}
.line-break{
    /*margin-top:1.5em;*/
    margin-top:1em;
}

.btn.btn-default.btn-lg{
    padding: 14px 18px;
}

/* fixing checkbox text in selectFieldForm */
input[type=checkbox]{
    margin: 0 0 0;
}
.custom-font-size{
    font-size: .7em;
}

.nav {
    padding-left: 16%;
}

.footer {
    margin-top: 4%;
}

.nav.nav-tabs.nav-custom {
    padding-left: 1%;
}

.btn-primary-div-custom {
    padding-top: .5%;
}

.col-md-5-custom {
    padding-left: 0;
}

/*textarea {*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*resize: none;*/
/*}*/
/*input[required],*/
/*select[required]{}*/
input[required] {
    background-image: url('../img/asterisk-128-000000.png');
    background-repeat: no-repeat;
    background-position: right .3em top .7em;
    background-size: 1em 1em;
}

/*input[required].has-error {*/
    /*background-image: url('../img/print-signs-askerisk-204x204.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: right .3em top .7em;*/
    /*background-size: 1em 1em;*/
/*}*/

div.has-error > input[required] {
    background-image: url('../img/print-signs-askerisk-204x204.png');
    background-repeat: no-repeat;
    background-position: right .3em top .7em;
    background-size: 1em 1em;
}