.col-md-8 {
    width: 75%;
}
.line-break{
    margin-top:1.5em;
}

.btn.btn-default.btn-lg{
    padding: 14px 18px;
}

/* fixing checkbox text in selectFieldForm */
input[type=checkbox]{
    margin: 0 0 0;
}
.custom-font-size{
    font-size: .7em;
}

.nav {
    padding-left: 16%;
}

.footer {
    margin-top: 4%;
}